<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FilesService" />
                <binding name="BasicHttpBinding_FilesService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8181/FilesService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_FilesService" contract="FileActionsService.FilesService"
                name="BasicHttpBinding_FilesService" />
            <endpoint address="http://localhost:8181/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_FilesService1" contract="FileActionsService2.FilesService"
                name="BasicHttpBinding_FilesService1" />
        </client>
    </system.serviceModel>
</configuration>